frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{ as }}
{% if ansible_fqdn in groups['spines'] or ansible_fqdn in groups['leafs'] -%}
 neighbor DOWNSTREAM peer-group
 neighbor DOWNSTREAM remote-as external
 bgp listen range 10.{{ range }}.0.0/16 peer-group DOWNSTREAM
{% endif -%}
{% if ansible_fqdn not in groups['spines'] -%}
  {% for int in interfaces -%}
    {% if int.up -%}
 neighbor {{ int.name }} interface remote-as external 
    {% endif -%}
  {% endfor -%}
{% endif -%}
{% if ansible_fqdn in groups['servers'] -%}
 net {{ loopback }}/32 
 ad ipv4
   redistribute connected

{% endif -%}
bgp best as-pa mul
ad ipv4
maximum 10
!
line vty
!