#jinja2:lstrip_blocks: True
#jinja2:trim_blocks: True
#frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{ as }}
bgp router-id {{ ansible_facts.eth0.ipv4.address }}
{% for int in interfaces -%}
  {% if int.peering_link -%}
  neighbor {{ int.name }} interface remote-as external
  neighbor {{ int.name }} soft-reconfiguration inbound
    {% if option is defined and option == "5549" -%}
  neighbor {{ int.name }} capability extended-nexthop
    {% endif -%}
  {% endif -%}
{% endfor -%}
bgp best as-pa mul
{% if option is defined and option == "ipv6" -%}
no bgp default ipv4-unicast
ad ipv6
maximum 10  
  {% for int in interfaces -%}
    {% if int.peering_link -%}
 neighbor {{ int.name }} activate
    {% endif -%}
  {% endfor -%}
{% else -%}
ad ipv4
maximum 10
{% endif -%}

{# SERVERS SPECIFICS #}

{% if inventory_hostname in groups['servers'] or 'fw' in inventory_hostname -%}
  ad {% if option is defined and option == "ipv6" -%}ipv6{% else -%}ipv4{% endif %}

    redistribute connected
    {% for int in interfaces -%}
      {% if int.peering_link -%}
    neighbor {{ int.name }} RM_OUTBOUND out
      {% endif -%}
    {% endfor -%}

ip prefix-list EXCLUDE_MGMT seq 5 permit {{ ansible_facts.eth0.ipv4.network }}/24 le 32
!
bgp as-path access-list LOCAL_ROUTES permit ^$
!
route-map RM_OUTBOUND deny 5
 match ip address prefix-list EXCLUDE_MGMT
!
route-map RM_OUTBOUND permit 10
 match as-path LOCAL_ROUTES

{% endif -%}
!
line vty
!
