#jinja2:lstrip_blocks: True
#jinja2:trim_blocks: True
auto lo
iface lo inet loopback
auto eth0
iface eth0 inet static
    address {{ ansible_facts.eth0.ipv4.address }}
    netmask {{ ansible_facts.eth0.ipv4.netmask }}

{% for int in interfaces -%}
auto {{ int.name }}
  {% if int.addr is defined and option is not defined -%}
iface {{ int.name }} inet static
    address {{ int.addr }}
    netmask {{ int.mask }}
  {% elif int.addr is defined and option is defined and not int.peering_link -%}
iface {{ int.name }} inet static
    address {{ int.addr }}
    netmask {{ int.mask }}
  {% endif -%}
  {% if int.addrv6 is defined -%}
iface {{ int.name }} inet6 static
    address {{ int.addrv6 }}
    netmask {{ int.maskv6 }}
  {% endif -%}
  {% if int.addrv6 is not defined and option is defined -%}
{#

We have to do things differently if we are using IPv6 because Cumulus Linux interfaces ("swp") 
doesn't support "inet6 auto" (that's why there is a weird "if" statement matching on "swp"...) 

#}
iface {{ int.name }} {% if "swp" not in int.name %} inet6 auto {% endif %}

  {% endif -%}
{% endfor -%}

# Lil' hack (temporary) : 
# Reinforce 127.0.0.1 as I was a bit too hard when flushing all interfaces ;-)
# This need to be corrected in the tasks 'configuring_interfaces.yaml'
auto lo:0
iface lo:0 inet static
    address 127.0.0.1
    netmask 8


post-up mkdir -p /home/cumulus/.ssh
post-up wget -O /home/cumulus/.ssh/authorized_keys http://192.168.200.1/authorized_keys
post-up chown -R cumulus:cumulus /home/cumulus/.ssh
