auto lo
iface lo inet loopback
auto eth0
iface eth0 inet dhcp

{% for int in interfaces -%}
auto {{ int.name }}
  {% if addr is defined and option is not defined -%}
iface {{ int.name }} inet static
    address {{ int.addr }}
    netmask {{ int.mask }}
  {% elif addr is defined and option is defined -%}
iface {{ int.name }} inet manual
  {% endif -%}
  {% if addrv6 is defined -%}
iface {{ int.name }} inet6 static
    address {{ int.addrv6 }}
    netmask {{ int.maskv6 }}
  {% endif -%}
{% endfor -%}


{# Becane Useless..

{% if loopback is defined %}
auto lo:{{ as }} 
iface lo:{{ as }} inet static
    address {{ loopback }}
    netmask 255.255.255.255

{% endif %}

#}

{# note: 
    We could use dummy interfaces instead of loopbacks.
    
    sudo ip link add name dummy0 type dummy
    sudo ip add a 111.111.111.111/32 dev dummy0
    sudo ip link set dev dummy0 up
#}

